@charset "UTF-8";

  /* tudo que em HTML é id  em CSS é # (só pode um elemento) 
     tudo que em HTML é class = em CSS é . (ponto) (pode vários elementos)
  */

body {
    background-color:rgb(194, 250, 186);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
   color: rgb(19, 137, 1);
   
}
 
    h1#principal{
        text-align:center;
        background-color: rgb(19, 137, 1);
        color: white
    }


h2 {
    color: rgba(80, 135, 79, 0.766);
} 

.basico {
    color: rgba(80, 135, 79, 0.766);
}

.intermediario {
    color: rgba(201, 239, 11, 0.839);
}

.avancado {
    color: rgba(135, 79, 79, 0.766);
}

.destaque {
    background-color:rgba(187, 187, 89, 0.813)
}