@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

@font-face {
    font-family: 'Shadows';
    src: url('../ShadowsIntoLight.ttf') format('truetype');
}

:root {
    --cor1:#319898;

    --cor2:#30B08C;

    --cor3:#2DA661;

    --cor4:#308EB0;

    --cor5:#2D66A6;

    --fonte-padrao: Arial, verdana, Helvetica;
    --fonte-shadow: 'Shadows';
    --fonte-lato: 'Lato';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-padrao);
}

nav {
    padding: 10px;
}

nav > a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: var(--fonte-lato);
    font-weight: bolder;
}

nav > a:hover {
    text-decoration: underline;
    color: black;
    background-color: var(--cor2);
    transition: 1s;
    border-radius: 10px;
}

header {
    font-family: var(--fonte-shadow);
}

header > h1 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 4em;
}

header > p {
    background-color: var(--cor2);
     width: 125px;
     display: block;
     margin: auto;
     text-indent: 10px;
     margin-bottom: 50px;
     border-radius: 10px;
     color: white;
}

article {
    background-image: url('../imagens/forest1.jpg');
    color: white;
    padding: 10px;
    margin: auto;
    width: 98vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

article > h3 {
     background-color: var(--cor2);
     width: 125px;
     display: block;
     margin: auto;
     text-indent: 5px;
     margin-bottom: 10px;
     border-radius: 10px;
     padding: 5px;
}

article > h1 {
    font-family: var(--fonte-shadow);
    background-color: var(--cor4);
    text-align: center;
    margin: auto;
    padding: 10px;
    height: 100px;
    width: 400px;
}



aside {
    background-image: url('../imagens/leaves.webp');
    background-color: white;
    width: 98vh;
    margin: auto;
    padding: 10px;
    line-height: 2.4em;
    font-family: verdana;
}

aside > h3 {
    text-align: center;
    margin-top: 50px;
}

aside > p {
   text-align:start;
}

aside > p.fonte {
    font-family: var(--fonte-shadow);
    font-size: 1.3em;
}

aside > div.color {
    color: var(--cor2);
}

div.color > a {
    text-decoration: none;
    color: var(--cor2);
}

div.color > a:hover {
    text-decoration: underline;
    color: #1E5E5E;
}






